/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container .image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(20px);
  transform: scale(1.1);
  animation: blurEffect 5s ease-in-out infinite alternate;
}

.container header {
  font-size: 60px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  animation: colorChange 5s ease-in-out infinite alternate;
}

.container p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  max-width: 550px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

@media screen and (max-width: 300px) {
  .container header {
    font-size: 50px;
  }
}

@keyframes blurEffect {
  from {
    filter: blur(20px);
    transform: scale(1.1);
  }
  to {
    filter: blur(0px);
    transform: scale(1);
  }
}

@keyframes colorChange {
  0% {
    color: #fff;
    text-shadow: none;
  }
  50% {
    color: #F54748;
    text-shadow: 0 0 10px #F54748;
  }
  100% {
    color: #fff;
    text-shadow: none;
  }
}
